{{!empty TicketviewTmpl template}}
<div class="container breadcrumbs">
    <div class="row">
        <div class="col-md-12">
            <a href="#ticket/list?sourceApplication=cqm">Back to Search</a>
        </div>
    </div>
</div>
<div class="container view-container">
    <div class="row">
        <div class="col-md-2">
            IMSI :
        </div>
        <div class="col-md-4">
            {{imsi}}
        </div>

        <div class="col-md-2">
            UPDATED :
        </div>
        <div class="col-md-4">
            {{updated}}
        </div>
        <div class="col-md-2">
            MSISDN :
        </div>
        <div class="col-md-4">
            {{msisdn}}
        </div>
        <div class="col-md-2">
            CREATED :
        </div>
        <div class="col-md-4">
            {{created}}
        </div>
    </div>

    <hr/>
    <div class="row">
        <div class="col-md-2">ISSUE TIME PERIOD :</div>
        <div class="col-md-10">FROM {{startTime}} TO {{endTime}}</div>

        <div class="col-md-2">ISSUE TITLE :</div>
        <div class="col-md-10">{{title}}</div>

        <div class="col-md-2">ISSUE LOCATION :</div>
        <div class="col-md-10">{{location}}</div>

        <div class="col-md-2">STATUS :</div>
        <div class="col-md-10">{{status}}</div>

        <div class="col-md-2">DESCRIPTION :</div>
        <div class="col-md-10">{{description}}</div>

        <div class="col-md-2">ATTACHMENTS :</div>
        {{#each attachments}}
            <div class="col-md-10">{{filename}}</div>
        {{/each}}
    </div>
    <div class="row button-row">
        <div class="col-md-8"></div>

        <div class="col-md-4">
            <a href="#ticket/list?sourceApplication=cqm">Back to Search</a>
            <a href="#ticket/edit/{{id}}?sourceApplication=cqm" class="primary-btn">Edit ticket</a>
        </div>
    </div>
</div>
